{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block metas %}
    <meta name="description" content="{{ pageDescription }}" />
{% endblock %}
{% block body_classes %}page-list{% endblock body_classes %}

{% block body %}
    <main role="main">
        <section class="section">
            <div class="container">
                {% if pagination is defined and pagination.pages_count > 1 %}
                    {% include 'layout/pagination.html.twig' %}
                {% endif %}
                <div class="row">
                    <form>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <input type="search" class="form-control" id="search-artist" placeholder="{{ 'artwork.searchauthor'|trans({}) }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="searchable-container">
                        {% for author in authors %}
                            {% if author.artist.avatarName is empty %}
                                {% set imgSrc = asset('assets/img/author-avatar.jpg') %}
                            {% else %}
                                {% set imgSrc = vich_uploader_asset(author.artist, 'avatarFile') %}
                            {% endif %}
                            <a href="{{ path('artist_profile', {'id': author.artist.id}) }}" class="items d-inline-block">
                                {% include "components/card-artist-list.twig" with {
                                    imgSrc: imgSrc,
                                    title: author.artist.name,
                                } %}
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% if pagination is defined and pagination.pages_count > 1 %}
                    {% include 'layout/pagination.html.twig' %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const translations = {
            'search' : '{{ 'artwork.js.search' | trans }}',
        }
    </script>
    <script src="{{ asset('build/js/artist-edit.js') }}"></script>
{% endblock %}