{% extends 'base.html.twig' %}
{% set artwork = poi.artworks.first %}
{% set document = artwork.documents.first %}

{% block title %}Artwork - {{ poi.address }} - {{ poi.city }} - {{ poi.country }}
{% if artwork.title %} - {{ artwork.title }}{% endif %}
{% endblock %}
{% block body_classes %}page-artwork{% endblock body_classes %}

{% block body %}
    <main role="main">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                        <h4>Toutes mes mensurations</h4>
                        <div id="artwork-data" class="lead text-muted">
                            <ul>
                                <li>Pays : {{ poi.country }}</li>
                                <li>Ville : {{ poi.city }}</li>
                                <li>Adresse : {{ poi.address }}</li>
                                <li>Latitude : {{ poi.latitude }}</li>
                                <li>Longitude : {{ poi.longitude }}</li>
                                <li>Titre : {{ artwork.title }}</li>
                                <li>Type : {{ artwork.type }}</li>
                                <li>Auteur : {{ artwork.author }}</li>
                                <li>Actif : {{ artwork.enabled }}</li>
                                <li>Date : {{ document.createdAt|date('d-m-Y') }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                        <div id="map" class="content-map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <h4>Me voici en grandeur nature</h4>
                        <div class="card-artwork">
                            <a href="{{ vich_uploader_asset(document, 'imageFile') }}" target="_blank"><img src="{{ vich_uploader_asset(document, 'imageFile') }}" alt="{{ artwork.title }}"
                                 width="100%" class="card-artwork-img"/></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <h4>Mes voisins (à moins de 100m)</h4>
                    </div>
                </div>
                <div class="row">
                    {% for pois in poisAround %}
                        <div class="col-12 col-sm-4">
                            {% for poiEl in pois %}
                                {% set artwork = poiEl.artworks.first %}
                                {% set document = artwork.documents.first %}

                                <a href="{{ path('artwork', {'id': poiEl.id}) }}">
                                    {% include "components/card-artwork.twig" with {
                                        imgSrc: vich_uploader_asset(document, 'imageFile'),
                                        title: artwork.title,
                                        textLeft: poiEl.city ~ ', ' ~ poiEl.country,
                                        textRight: artwork.createdAt|date("d/m/Y"),
                                    } %}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.datas = '{{ convertedPoi | raw }}';
    </script>

    <script src="{{ asset('build/js/map-artwork.js') }}"></script>
{% endblock %}