{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block metas %}{% include "components/metas.twig" with { metaDesc: 'metaDesc'} %}{% endblock metas %}
{% block metas_og %}{% include "components/og.twig" with { metaDesc: 'metaDesc'} %}{% endblock metas_og %}
{% block metas_twitter %}{% include "components/twitter.twig" with { metaDesc: 'metaDesc'} %}{% endblock metas_twitter %}
{% block body_classes %}page-content{% endblock body_classes %}

{% block body %}

<main role="main">
    <section class="section">
        <div class="container">
            {% if entries is defined %}
                {% for entryElement in entries %}
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ entryElement.title|raw }}</h4>
                            <p>{{ entryElement.content|raw|nl2br }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            {% elseif entry is defined %}
                <div class="row">
                    <div class="col-12 title">
                        <h1>{{ entry.get('title')|raw }}</h1>
                    </div>
                    {#<div class="col-md-6">#}
                    {#<p>{{ blog.get('introductionImage')|raw }}</p>#}
                    {#</div>#}
                    <div class="col-12 introduction">
                        <h6>{{ entry.get('introduction')|raw|nl2br }}</h6>
                    </div>
                    <div class="col-12 content">
                        <p>{{ entry.get('content')|raw|nl2br }}</p>
                    </div>
                </div>
            {% elseif blog is defined %}
                <div class="row">
                    <div class="col-12">
                        <h4>{{ blog.get('title')|raw }}</h4>
                        <p>{{ blog.get('content')|raw|nl2br }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}