{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            <img src="/assets/img/hangar-bananes.png" alt="hangar à bananes" style="width: 90%" />
                        </p>
                    </div>
                    <div class="col-md-7">
                        <p class="lead text-muted">{{ 'home.description.first'|trans({})}}</p>
                        <p class="lead text-muted">{{ 'home.description.second'|trans({})}}</p>
                    </div>
                    <div class="col-md-12">
                        <br /><hr /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <p class="lead text-muted">{{ 'home.needyou'|trans({})}}</p>
                        <a href="mailto:contact@street-artwork.com" class="btn btn-primary my-2">Soumettre une photo</a>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <img src="/assets/img/needyou.png" alt="needyou" style="width: 70%" />
                        </p>
                    </div>
                    <div class="col-md-12">
                        <br /><hr /><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Preview base de données des oeuvres</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="dw">
                        {% for poi in pois %}
                            {% set artwork = poi.artworks.first %}
                            {% set document = artwork.documents.first %}
                            <div class="dw-panel dw-panel--focus dw-panel--pulse">
                                <div class="dw-panel__content ">
                                    <div class="card box-shadow">
                                        <img class="card-img-top" src="/img/{{ document.imageName }}"
                                             alt="{{ artwork.title }}">
                                        <div class="card-body">
                                            <p class="card-text">{{ artwork.title }}{{ poi.id }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                {#<div class="btn-group">#}
                                                    {#<button type="button" class="btn btn-sm btn-outline-secondary">#}
                                                        {#View#}
                                                    {#</button>#}
                                                    {#<button type="button" class="btn btn-sm btn-outline-secondary">#}
                                                        {#Edit#}
                                                    {#</button>#}
                                                {#</div>#}
                                                <small class="text-muted">{{ poi.city }}, {{ poi.country }}</small>
                                                <small class="text-muted">{{ artwork.createdAt|date("d/m/Y") }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="dw__focus-curtain"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}