{% extends 'base.html.twig' %}

{% block title %}{{ 'title.default'|trans({},'Metas') }}{% endblock %}
{% block metas %}
    <meta name="description" content="{{ 'description.default'|trans({},'Metas') }}" />
{% endblock %}
{% block metas_og %}{% endblock metas_og %}
{% block metas_twitter %}{% endblock metas_twitter %}

{% block body_classes %}page-home{% endblock body_classes %}

{% block body %}

    <main role="main">

        {% include "components/jumbotron.html.twig" %}

        {% set locale = app.request.getLocale() %}

        <section class="section section-lg section-places">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        {% include "components/card-block.twig" with { title: 'Nantes', introduction: ('home.introduction.fresquile'|trans({})), imgSrc: asset('assets/img/hangar-bananes.png'), link: locale ~ '/blog/1w99PSuxAcMssEGU0AE2i2', linkDisplay: ('home.showmore'|trans({}))} %}
                    </div>
                    <div class="col-sm-4">
                        {% include "components/card-block.twig" with { title: 'Berlin', introduction: ('home.introduction.baisersocialiste'|trans({})), imgSrc: asset('assets/img/berlin.png'), link: locale ~ '/blog/39R0RcgHSguAui04Uq46sy', linkDisplay: ('home.showmore'|trans({}))} %}
                    </div>
                    <div class="col-sm-4">
                        {% include "components/card-block.twig" with { title: 'Nantes', introduction: 'Nantes, Balades urbaines', imgSrc: asset('assets/img/articles/nantes-balades-urbaines-home.jpg'), link: locale ~ '/blog/2sgRd7EGuf4InR5EZzvqMM', linkDisplay: ('home.showmore'|trans({}))} %}
                    </div>
                </div>
                <div>
                    <div class="col-sm-12">
                        <a href="{{ path('blog') }}">{{ 'home.seearticles'|trans({}) }}</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                        <h2>We need you !</h2>
                        <p class="lead text-muted">{{ 'home.needyou'|trans({}) }}</p>
                        <a href="{{ path('app_artwork_new') }}"
                           class="btn btn-primary my-2">{{ 'home.submit'|trans({}) }}</a>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <img src="/assets/img/needyou.png" alt="needyou" style="width: 70%"/>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-5 text-center">{{ 'home.preview'|trans({}) }}</h3>
                        <h4 class="mb-5 text-center">{{ 'home.preview.total'|trans({'totalPois': totalPois, 'totalCountry': totalCountry}) }}</h4>
                        <p class="text-center">
                            <a href="{{ path('map') }}"
                           class="btn btn-primary my-2">{{ 'home.seemap'|trans({}) }}</a>
                            <a href="{{ path('list') }}"
                           class="btn btn-primary my-2">{{ 'home.seelist'|trans({}) }}</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <caption><a href="{{ path('welcome') }}">{{ 'home.contribute'|trans({}) }}</a></caption>
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th scope="col">{{ 'home.pseudo'|trans({}) }}</th>
                                    <th scope="col">{{ 'home.nbartwork'|trans({}) }}</th>
                                    <th scope="col">{{ 'home.nbcountry'|trans({}) }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                            {% for contributor in topContributor %}
                                <tr>
                                    <td><a href="{{ path('public_profile', {'id': contributor.user.id}) }}">{{ contributor.user.username }} ({{ 'home.showprofile'|trans({}) }})</a></td>
                                    <td>{{ contributor.nbartwork }}</td>
                                    <td>{{ contributor.nbcountry }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    {% for pois in colPois %}
                        <div class="col-12 col-sm-4">
                            {% for poi in pois %}
                                {% set artwork = poi.artworks.first %}
                                {% set document = artwork.documents.first %}

                                <a href="{{ path('artwork', {'id': poi.id}) }}">
                                    {% include "components/card-artwork.twig" with {
                                        imgSrc: document.imageURI ? document.imageURI : vich_uploader_asset(document, 'imageFile'),
                                        title: artwork.title,
                                        textLeft: poi.city ~ ', ' ~ poi.country,
                                        textRight: artwork.createdAt|date("d/m/Y"),
                                    } %}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="col-sm-12">
                        <a href="{{ path('list') }}">{{ 'home.seeartworks'|trans({}) }}</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}