{% extends 'base.html.twig' %}

{% block body_classes %}page-user-dashboard{% endblock body_classes %}

{% block body %}

    {% set nbUserArtworks = userArtworks|length %}
    {% set nbUserContries = userCountriesArtworks|length %}

    <main role="main">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="card-block">
                            {% include 'user/user_profile.html.twig' with { user: app.user } %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        {% if public %}
                            <h1>{{ 'dashboard.title.public'|trans({'userName': user.username}) }}</h1>
                            <p>{{ 'dashboard.introduction.public'|trans({'userName': user.username, 'nbUserArtworks': nbUserArtworks, 'nbUserContries': nbUserContries}) }}</p>
                        {% else %}
                            <h1>{{ 'dashboard.title'|trans({}) }}</h1>
                            <p>{{ 'dashboard.introduction'|trans({'nbUserArtworks': nbUserArtworks, 'nbUserContries': nbUserContries}) }}</p>
                        {% endif %}

                        <div class="row">
                            {% for userArtwork in userArtworks %}
                                <div class="col-12 col-sm-3">
                                    {% set document = userArtwork.documents.first %}
                                    {% set poi = userArtwork.poi %}
                                    <a href="{{ path('artwork', {'id': poi.id}) }}">
                                        {% include "components/card-artwork.twig" with {
                                            imgSrc: vich_uploader_asset(document, 'imageFile'),
                                            title: userArtwork.title,
                                            textLeft: poi.city ~ ', ' ~ poi.country,
                                            textRight: userArtwork.createdAt|date("d/m/Y"),
                                        } %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}