{% extends 'base.html.twig' %}

{% block body_classes %}page-user-dashboard{% endblock body_classes %}

{% block body %}

    <main role="main">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ 'dashboard.title'|trans({}) }}Mon dashboard</h1>
                        <p>{{ 'dashboard.introduction'|trans({}) }}J'ai proposé un total de {{ userArtworks|length }} {0,1} three attendees|]1,Inf] many attendees artworks dans {{ userCountriesArtworks|length }} pays</p>
                    </div>
                </div>
                <div class="row">
                    {% for userArtwork in userArtworks %}
                        <div class="col-12 col-sm-3">
                            {% set document = userArtwork.documents.first %}
                            {% set poi = userArtwork.poi %}
                            <a href="{{ path('artwork', {'id': poi.id}) }}">
                                {% include "components/card-artwork.twig" with {
                                    imgSrc: vich_uploader_asset(document, 'imageFile'),
                                    title: userArtwork.title,
                                    textLeft: poi.city ~ ', ' ~ poi.country,
                                    textRight: userArtwork.createdAt|date("d/m/Y"),
                                } %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}