<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Street Art{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/lib/leaflet/leaflet.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/lib/cluster/MarkerCluster.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/Leaflet.Photo.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}

        {% include 'layout/flash_messages.html.twig' %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        {% include 'layout/footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
