<div class="card-artwork">
    <img src="{{ imgSrc | imagine_filter('thumb_small') }}" alt="{{ title }}" class="card-artwork-img">

    <div class="card-artwork-body">
        <h2 class="card-artwork-title">
            {{ title }}
        </h2>

        <div class="card-artwork-footer">
            <small class="text-muted">{{ textLeft }}</small>
            <small class="text-muted">{{ textRight }}</small>
        </div>
    </div>
</div>
