<div class="card-artwork hovereffect">
    <img src="{{ imgSrc }}" alt="{{ title }}" class="card-artwork-img">

    <div class="card-artwork-body overlay">
        <span class="info">
            {% if title %}
                <h2 class="card-artwork-title">
                    {{ title }}
                </h2>
            {% endif %}
            <small>{{ textLeft }}</small>
            <small>{{ textRight }}</small>
        </span>
    </div>
</div>
