<div class="card-block">
    <img src="{{ imgSrc }}" alt="{{ title }}" class="card-block-img">

    <div class="card-block-content">
        <h2 class="card-block-title">
            {{ title }}
        </h2>
        <a href="{{ link }}" class="btn btn-primary" title="Go to {{ linkTitle }}">{{ linkTitle }}</a>
    </div>
</div>
