<div class="footer" id="footer">
    <div class="container">

        {#{% include "components/logo.twig" with { class: 'navbar-brand' } %}#}

        {#<hr>#}

        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('faq') }}">{{ 'nav.link.faq'|trans({}) }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('legals') }}">{{ 'nav.link.legals'|trans({}) }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sitemap') }}">{{ 'nav.link.sitemap'|trans({}) }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:contact@street-artwork.com">{{ 'nav.link.contact'|trans({}) }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('releases') }}">{{ 'nav.link.releases'|trans({}) }}</a>
                    </li>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                                {{ 'page.logout.link'|trans({}) }}
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('fos_user_security_login') }}">{{ 'page.login.link'|trans({}) }}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-socials ml-2">
                        <a href="https://www.facebook.com/streetartwork44/" class="fab fa-facebook-f fa-2x facebook"
                           target="_blank"></a>
                        <a href="https://twitter.com/StreetArtwork44" class="fab fa-twitter fa-2x twitter"
                           target="_blank"></a>
                        <a href="https://www.instagram.com/streetartwork44/" class="fab fa-instagram fa-2x instagram"
                           target="_blank"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>