<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            {% include "components/logo.twig" with { class: 'navbar-brand' } %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if app.request.get('_route') == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('home') }}">{{ 'header.menu.home'|trans({}) }} <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'map' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('map') }}">{{ 'header.menu.map'|trans({}) }} <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'list' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('list') }}">{{ 'header.menu.list'|trans({}) }} <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'artist_list' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('artist_list') }}">{{ 'header.menu.artistlist'|trans({}) }} <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'blog' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('blog') }}">{{ 'header.menu.blog'|trans({}) }} <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'header.menu.submit'|trans({}) }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link {% if app.request.get('_route') == 'app_artwork_new' %}active{% endif %}" href="{{ path('app_artwork_new') }}">{{ 'header.menu.submit_artwork'|trans({}) }}
                                <span class="sr-only">(current)</span></a>
                            <a class="nav-link {% if app.request.get('_route') == 'app_artist_new' %}active{% endif %}" href="{{ path('app_artist_new') }}">{{ 'header.menu.submit_artist'|trans({}) }}
                                <span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    {% else %}
                        <li class="nav-item {% if app.request.get('_route') == 'app_artwork_new' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_artwork_new') }}">{{ 'header.menu.submit_artwork'|trans({}) }}
                                <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <ul class="navbar-nav social">
                <li class="nav-item nav-socials ml-2">
                    <a href="https://www.facebook.com/streetartwork44/" class="fab fa-facebook-f fa-lg facebook"
                       target="_blank"></a>
                    <a href="https://www.instagram.com/streetartwork44/" class="fab fa-instagram fa-lg instagram"
                       target="_blank"></a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('dashboard') }}" class="far fa-user fa-lg"></a>
                    {% else %}
                        <a href="{{ path('welcome') }}" class="far fa-user fa-lg"></a>
                    {% endif %}
                </li>
            </ul>

            <div class="btn-group lang">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% set locale = app.request.locale %}
                    {% if locale == 'fr' %}
                        <span class="flag-icon flag-icon-fr"></span>
                    {% elseif locale == 'en' %}
                        <span class="flag-icon flag-icon-gb"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                        <span class="flag-icon flag-icon-fr"></span>
                    </a>
                    <a class="dropdown-item"
                       href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                        <span class="flag-icon flag-icon-gb"></span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
</header>



