<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            {% include "components/logo.twig" with { class: 'navbar-brand' } %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if app.request.get('_route') == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('home') }}">{{ 'header.menu.home'|trans({}) }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'map' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('map') }}">{{ 'header.menu.map'|trans({}) }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'list' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('list') }}">{{ 'header.menu.list'|trans({}) }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_artwork_new' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_artwork_new') }}">{{ 'header.menu.submit'|trans({}) }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-socials ml-2">
                        <a href="https://www.facebook.com/streetartwork44/" class="fab fa-facebook-f fa-2x facebook" target="_blank"></a>
                        <a href="https://twitter.com/StreetArtwork44" class="fab fa-twitter fa-2x twitter" target="_blank"></a>
                        <a href="https://www.instagram.com/streetartwork44/" class="fab fa-instagram fa-2x instagram" target="_blank"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-flag fa-lg"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



