{% set user = user|default(false) %}

{% if user %}
    {% if user.avatarName is not empty %}
        <img src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('thumb_small_square') }}" alt="" class="img-fluid">
    {% endif %}

    <div class="user-profile">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        {% if not public %}
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        {% endif %}
        <p>{{ user.city }} {{ user.country }}</p>
        <p><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></p>
        <p>{{ user.description }}</p>

        {% if not public %}
            <a href="{{ path('fos_user_profile_edit') }}"
               class="btn btn-primary btn-block">{{ 'profile.edit.title'|trans }}</a>
        {% endif %}
        {{ dump(badges) }}
        {% include 'layout/badges.html.twig' %}
    </div>
{% endif %}